.card {
  width: 200px;
  padding: 10px 20px;
  img {
    width: 100%;
    height: auto;
  }
}
.primary {
  background-color: #007bff;
  .card-title {
    color: white;
    font-size: 100px;
  }
}
.secondary {
  background-color: #6c757d;
}
